nav{
    h1 {
        font-size: $t-font-size-h1;
        font-weight: 400;
        color: $t-colors-black;
        font-family: $t-font-reg;
    
    }
}

.copy-container p {
    padding-right: 45vw;
}

