
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@400;700&display=swap');

$t-font-size-h1: 36px;
$t-font-size-h2: 64px;
$t-font-size-h3: 24px;
$t-font-size-copy: 24px;

$t-font-reg: 'Chivo', sans-serif; 
$t-font-bold: 'Chivo', sans-serif;
