<header>
    <section class="viewport">
        <nav>
            <h1 id="Timomatthies">
                <a href="#">Timo Matthies</a>
            </h1>
    
            <h1 id="About">
                <a href="#">About</a>
            </h1>
            
            <h1 id="Contact">
                <a href="#">Contact</a>
            </h1>
        </nav>

        <ul>
            <li id="Projects">
                <h2>
                    <a href="#">Projects</a>
                </h2>
            </li>

            <li id="Portraits">
                <h2>
                    <a href="#">Portraits</a>
                </h2>
            </li>
        </ul>
    </section>

</header>