<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="index.css" />
  </head>

  <body>
    <header>
        <nav>
            <div>
                <%= require('html-loader!./partials/modules/timo.html') %>
            </div>
            <h1 class="top-right">
                <span class="on"> Contact</span>
            </h1>
        </nav>
    </header>   

    <section class="viewport">
        <div class="copy-container">
            <p>
                For general questions or inquiries regarding collaborations or publishing, feel free to get in touch with me via e-mail or phone.
            </p>
            <p><br></p>
            <address>
                Timo Matthies 
                <br> Scheurenstr. 28 
                <br> 40215 Düsseldorf 
                <br> Germany
            </address>
            <p><br></p>
            <p>
                contact(at)timomatthies.com <br> +49 1578 859 25 26
            </p>
        </div>
    </section>
    
    <div>
      <%= require('html-loader!./partials/modules/footer.html') %>
    </div>

  </body>
</html>