<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="index.css" />
    
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Chivo:wght@400;700&display=swap" rel="stylesheet">

  

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">

  </head>
    

  
  <body>

    <h1 class="top-right">
      <a href="src/about.html">About</a>
    </h1>

    <! header insert >
    <div>
      <%= require('html-loader!./partials/modules/header.html') %>
    </div>

    <! body insert >
    <div>
      <%= require('html-loader!./partials/modules/footer.html') %>
    </div>
  </body>

</html>
