<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="index.css" />
  </head>

  <body>
    <header>
        <nav>
            <div>
                <%= require('html-loader!./partials/modules/timo.html') %>
            </div>
            <h1 class="top-right">
                <span class="on">Portraits</span>
            </h1>
        </nav>
    </header>   

    <section class="viewport">
        
    </section>
    
    <div>
      <%= require('html-loader!./partials/modules/footer.html') %>
    </div>

  </body>
</html>