header {
    background-color: $t-colors-white;

    .viewport {
        padding: $t-units-m;
        box-sizing: border-box;
        display: flex;
        height: 100vh;
        width: 100vw;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: $t-font-size-h1;
        font-weight: 400;
        color: $t-colors-black;
        font-family: $t-font-reg;

    }

    h2 {
        font-size: $t-font-size-h2;
        font-weight: 400;
        color: $t-colors-black;
        font-family: $t-font-reg;
        text-transform: capitalize;
    }

    a {
        text-decoration: none;
        color: $t-colors-black;

        &:hover {
            color: $t-colors-main;
        } 
    }

    ul {
        text-align: center;
    }

    #timomatthies {
        position: absolute;
        margin: $t-units-m;
        top: 0;
        left: 0;
    }

    #about {
        position: absolute;
        margin: $t-units-m;
        top: 0;
        right: 0;
    }

    #contact {
        position: absolute;
        margin: $t-units-m;
        bottom: 0;
        left: 0;
    }

    

    
}
