@import "../general/stylesheet.scss";

header {
    background-color: $t-colors-white;

    h1 {
        font-size: $t-font-size-h1;
        font-weight: 400;
        color: $t-colors-black;
        font-family: $t-font-reg;
    }

    h2 {
        font-size: $t-font-size-h2;
        font-weight: 400;
        color: $t-colors-black;
        font-family: $t-font-reg;
        text-transform: capitalize;
    }

    ul {
        text-align: center;
    }

}
